.encounter-tracker{
  border-radius: 25px;
  margin:10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
  min-height: 306px;
}

.toolbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width:100%;
    height:60px;
    background-color: white;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.toolbar button {
    background-color: rgb(187, 111, 206);
    border-radius: 8px;
    border: 0px solid black;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .5);
    height:36px;
    width:80px;
    font-weight: bold;
}

.toolbar button:active{
    border-radius: 10px;
}

.creature-list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:10px;
    margin: 0;
}

.creature{
    display:flex;
    align-items: center;
    justify-content: space-between;
    height:90px;
    width:90%;
    background-color: white;
    margin:10px;
    border-radius: 15px;
    list-style-type: none;
    padding-left:10px;
    padding-right:10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .5);
}

.creature img{
    width:70px;
    height:70px;
    
}

.modal{
    position: absolute;
    top:0;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    background-color: rgba(0, 0, 0, .5);
    width:100vw;
    height:100vh;
  }
  
  .closeModalBtn{
    background-color: rgba(0, 0, 0, 0);
    border:none;
    margin-left: 15rem;
    width:2rem;
    height:2rem;
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .closeModalBtn:hover{
    background-color: rgba(255, 255, 255, .5);
    border-radius: 50%;
    
  }

  .modal-content form{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    background-color: white;
    padding:15px;
    border-radius: 15px;
  }

  .modal-content form label {

  }